/Semana2.1IIC2026/nbproject/private/
/Semana1IIC2026/build/
/Semana1IIC2026/nbproject/private/
/Semana2.1IIC2026/build/
/Semana3IIC2026/nbproject/private/
/Semana3IIC2026/build/
/semana4IIC2026/nbproject/private/
/Semana4IIC2026.2/nbproject/private/
/Semana4IIC2026.3/nbproject/private/
/Semana4IIC2026.3/build/
