/Semana2.1IIC2026/nbproject/private/
/Semana1IIC2026/build/
/Semana1IIC2026/nbproject/private/
/Semana2.1IIC2026/build/
/Semana3IIC2026/nbproject/private/
/Semana3IIC2026/build/
/semana4IIC2026/nbproject/private/
/Semana4IIC2026.2/nbproject/private/
/Semana4IIC2026.3/nbproject/private/
/Semana4IIC2026.3/build/
/JavaApplication12/nbproject/private/
/Semana6IIC2026/nbproject/private/
/Semana6IIC2026/build/
/Semana7IIC2026/nbproject/private/
/Semana7IIC2026/build/
/Semana9IIC2026/nbproject/private/
/Semana9IIC2026/build/
/Semana10IIC2025/nbproject/private/
/Semana10IIC2025/build/
/ProfesorSemana11IIC2026/nbproject/private/
/ProfesorSemana11IIC2026/build/
/Semana11IIC2026/nbproject/private/
/Semana11IIC2026/build/
/EjemploSemana12/nbproject/private/
/EjemploSemana12/src/Botones/Semana12Ejercicio2/build/
/EjemploSemana12/src/Botones/Semana12Ejercicio2/nbproject/private/
/EjemploSemana12/build/
/Semana12IIC2026.1/nbproject/private/
/Semana12IIC2026.1/build/
/PruebadeTEST/nbproject/private/
/Semana13IIC2026/nbproject/private/
/Semana13IIC2026/build/
/PruebadeTEST/build/
/Examenfinal_RonaldAriasFallas/nbproject/private/
